* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
header {
  background-color: #fece00;
  text-align: center;
}
.container {
  max-width: 1200px;
  margin: auto;
}
/* nav */
nav {
  background-color: #fece00;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li,
a {
  color: black;
  font-size: 15px;
}
nav ul li:nth-child(2) input {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 35px;
  margin-right: 160px;
}
nav ul li:nth-child(2) {
  position: relative;
}
nav ul li:nth-child(2) i {
  position: absolute;
  font-size: 15px;
  top: 12px;
  left: 12px;
  cursor: pointer;
}
nav ul li:nth-child(3) {
  padding: 12px 8px;
}
nav ul li:nth-child(3):hover {
  background-color: #ffee99;

  border-radius: 20px;
}
nav ul li:nth-child(4) {
  padding: 12px 8px;
}
nav ul li:nth-child(4):hover {
  background-color: #ffee99;

  border-radius: 20px;
}
nav ul li:nth-child(5) button {
  height: 40px;
  padding: 0 10px;
  border: none;
  margin-right: 9px;
  padding-right: 5px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(217, 217, 141);
  transition: all 0.5s ease;
  font-size: 15px;
}
nav ul li:nth-child(5) span {
  padding-left: 160px;
}
nav ul li:nth-child(5) button:hover {
  background-color: #ffee99;
}
.btn-content {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: rgb(195, 0, 255);
  border-radius: 100%;
  display: block;
  float: left;
  margin-right: 5px;
}
.btn-top {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgb(255, 0, 157);

  pointer-events: none;
  animation: btn-animation 1s linear infinite;
}
@keyframes btn-animation {
  from {
    opacity: 0.4;
  }

  to {
    transform: scale(4);
    opacity: 0;
  }
}
.menu-bar {
  background-color: #fece00;
}
.menu-bar-content ul {
  display: flex;
  justify-content: space-between;
}
.menu-bar-content ul li {
  padding: 12px 2px;
  transition: all 0.3 ease;
}
.menu-bar-content ul li a {
  margin-right: 4px;
}
.menu-bar-content > ul > li:hover {
  background-color: white;
  border-radius: 12px 12px 0px 0px;
}
.menu-bar-content ul li:nth-child(9) {
  position: relative;
}
.menu-bar-content ul li:nth-child(9)::before {
  position: absolute;
  content: "Giảm 5%";
  display: block;
  height: 12px;
  width: 45px;
  background-color: red;
  border-radius: 5px;
  right: 25px;
  top: 0;
  font-size: 10px;
  padding-left: 3px;
  color: white;
  padding-top: 2px;
}
.menu-bar-content ul li:nth-child(9)::after {
  position: absolute;
  background-color: red;
  content: "";
  height: 5px;
  width: 5px;
  display: block;
  top: 11px;
  right: 54px;
  z-index: 1;
  transform: rotate(45deg);
}
/* adress-from */
.adress-from {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 170px;
  z-index: 999;
  /* display: none; */

  /* Trạng thái ẩn */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  /* Hiệu ứng mượt mà */
  transition: all 0.4s ease;
}
.adress-from.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.adress-from-content {
  width: 520px;
  height: 550px;
  background-color: white;
  border-radius: 15px;
}
.adress-from-content h2 {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}
.adress-from-content form {
  padding-top: 10px;
}
.adress-from-content input {
  padding-top: 10px;
  height: 35px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  padding: 10px;
  cursor: pointer;
}
.adress-from-content .from-input {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
.adress-from-content .from-input i {
  position: absolute;
  top: 20px;
  right: 40px;
  color: gray;
}
.adress-from-content h2 {
  font-size: 20px;
  position: relative;
  padding: 12px 0;
}
.adress-from-content h2 span {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
}
.adress-from-content h4 {
  padding-bottom: 10px;
}
.adress-from-content from input,
select {
  display: block;
  height: 40px;
  width: 300px;
  border: 1px solid gray;
  margin: 10px auto;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  color: blue;
}
/* sub-menu */
.menu-bar-content ul li {
  position: relative;
}
.sub-phukien {
  top: 100%;
  position: absolute;
  background-color: #ddd;
  display: none;
  border-radius: 12px;
  width: auto;
  height: auto;
  padding: 15px;
  left: -90px;
  z-index: 2;
}
.sub-phukien ul {
  display: flex;
}
.sub-phukien-top {
  padding-bottom: 20px;
}
.sub-phukien h3 {
  font-size: 14px;
}
.sub-phukien img {
  width: 60px;
}
.sub-phukien ul li {
  padding: 12px 6px;
  font-size: 12px;
}
.menu-bar-content ul li:hover .sub-phukien {
  display: flex;
}
.sub-phukien ul li:hover {
  background-color: #f9fafb;
  border-radius: 12px;
}
.sub-phukien ul li {
  position: relative;
}
.sub-phukien::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  background-color: #ddd;
  top: -8px;
  left: 130px;
  transform: rotate(45deg);
}
/* SLIDER */
.slider {
  padding: 20px 0;
  height: 350px;
}
.slider-content {
  display: flex;
  justify-content: space-between;
}
.slider-content-left {
  width: 65%;
}
.slider-content-left-top {
  width: 100%;
  height: 300px;
  position: relative;
}
/* .slider-content-left-top:hover i {
  opacity: 1;
} */
.slider-content-left-top img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider-content-left-bottom {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ddd;
  border-top: none;
  height: 50px;
}
.slider-content-left-bottom li {
  width: 20%;
  text-align: center;
  cursor: pointer;
  padding: 6px 0;
  height: 100%;
  line-height: 38px;
  position: relative;
}
.slider-content-left-bottom li::before {
  display: block;
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background-color: #ddd;
  right: 0;
}
.slider-content-left-bottom li.active {
  border-top: 4px solid rgb(214, 214, 0);
}
.slider-content-right {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: space-around;
}
.slider-content-right li {
  width: 50%;
  height: 50%;
  text-align: center;
  margin-bottom: 3px;
}
.slider-content-right li img {
  height: 170px;
  width: 170px;
}
.slider-content-left-top-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}
.slider-content-left-top-btn i {
  color: #333;
  font-size: 32px;
  height: 50px;
  width: 25px;
  background-color: #d2cdcd;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3 ease;
}
.slider-content-left-top img {
  position: absolute;
}
.slider-content-left-top a:nth-child(2) img {
  transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img {
  transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img {
  transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img {
  transform: translateX(400%);
}
.slider-content-left-top-container {
  position: relative;
  overflow: hidden;
}
.slider-content-left-top-container:hover i {
  opacity: 1;
}
.slider-content-left-top {
  transition: all 0.3s ease;
}
